# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.sqlite3
*.log
*.pot
*.pyc
*.mo

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Static files (optional: if you collectstatic to a separate folder)
staticfiles/

# VSCode or IDE settings
.vscode/
.idea/

# MacOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Unit test / coverage reports
.tox/
nosetests.xml
coverage.xml
